@import url('https://fonts.googleapis.com/css?family=Kodchasan:300,400&display=swap');

:root{
    --text :  #111;
    --grey : #f7f7f7;
    --grey-dark: #c5c5c5;
    --edit : #187e18;
    --income : #28b9b5;
    --expense : #ff5049;
    --expense-light : #ff736d;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* font-size: 62.5%; */
    font-family: 'Kodchasan', cursive;
}
body{
    display: grid;
    grid-template-rows: 35vh 2fr minmax(50vh,auto);
    background: var(--grey);
    position: relative;
}
#report, #report a{
    position: absolute;
    right: 1rem;
    top: 1rem;
    text-decoration: none;
    color: var(--expense-light);
}

header{
    grid-row: 1/2;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.55)),url(image/hero.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header .container{
    color: var(--grey);
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
}

#month{
    text-transform: capitalize;
    text-shadow: 1px 1px var(--income), 2px 2px var(--expense);
    font-size: 1.5rem;
}
.budget-banenr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner{
    text-align: center;
    width: 15rem;
    margin: 0 auto;
    text-align: left;
    margin-top: .5rem;
    padding: .25rem 1.25rem;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    border-radius: .2rem;
}

.banner-text{
    color: var(--text);
    font-size: 1.1rem;
}

.banner--inc{
    background-color: var(--income);
}
.banner--exp{
    padding-right: .5rem;
    background-color: var(--expense);
}

.banner-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
}
#totalExpense, #totalIncome {
    color: var(--grey);
    font-size: 1.1rem;
}

#percentage{
    padding: .2rem .3rem;
    height: 50%;
    background: var(--expense-light);
    font-size: .6rem;
    margin-left: .5rem;
}
/* ************************************input section starts here ****************************** */
.input{
    grid-row: 2/3;
    height: 100%;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    background: var(--grey);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--grey-dark);
}

input, select{
    border: 1px solid var(--grey-dark);
    border-radius: .2rem;
    height: 100%;
    padding: .5rem;
    margin-right: 1rem;
}
input::placeholder{
    font: inherit;
    text-transform: capitalize;
}

input:focus,
select:focus{
    border: 1px solid var(--expense-light);
    outline: none;
}
input[type="number"]{
    max-width: 9rem;
    flex-grow: 0;
}
input[type="text"]{
    flex-grow: 1;
}
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.button{
    font: inherit;
    text-transform: uppercase;
    font-size: 1.5rem;
    background: transparent;
    color: var(--expense);
    font-weight: 300;
}

@media (max-width:540px){
    .input{
        width: 60%;
        margin: 0 auto;
    }
    input,select{
        margin-right: .5rem;
    }
}





/* *****************List of inc/exp*************** */
main{
    grid: 3;
    height: 100%;
    width: 80%;
    max-width: 950px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 3rem;
    grid-column-gap: 4rem;
}

@media (max-width:682px){
    main{
        width: 100%;
    }

    .value-exp,.value-inc{
        padding-left: 1.25rem;
    }
    html{
        font-size: 12px;
    }
}


.value-inc{
    padding-left: 2rem;
    color: var(--income);
}

.value-exp{
    padding-left: 2rem;
    color: var(--expense);
}

.button-edit{
    cursor: pointer;
    color: var(--edit);
    font-size: .8rem;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0 .5rem;
    transition: all .25s linear;
}
.button-del{
    cursor: pointer;
    color: var(--expense-light);
    font-size: .8rem;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .25s linear;
}
.button-del:hover{
    color: var(--expense);
    transform: skewX(-10deg);
}
.button-edit:hover{
    color: var(--income);
    transform: skewX(-10deg);
}

.list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25rem 1.25rem;
    border-bottom: .5px solid var(--grey-dark);
}

.list-text{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 1rem;
}

.inc, .exp{
    min-height: 20vh;
}
.inc{
    grid-column: 1/2;
}

.exp{
    grid-column: 2/-1;
}